<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.replay.limty">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".model.wxqr.ShowActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".model.wxgzh.WebPayment"
            android:theme="@style/TranslucentTheme" />

    </application>

</manifest>
